<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head lang="ko" th:replace="admin/fragments/head :: head"> 
	<!-- je.kim -->
	</head>
	<body>
  		<div class="wrapper">
  			<!-- Navigation -->
        	<nav th:replace="admin/fragments/navigation :: navigation" ></nav>
  			 			
  			<div id="page-wrapper">
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1 class="page-header">힌트관리</h1>
	                </div>
	            </div>
	            <div class="row"> <!-- 수정해야함-->
					<form>
						<div class="form-group">
							<label for=hintCode>힌트코드</label> 
							<input type="text" class="form-control" id="hintCode" placeholder="힌트 코드명">
						</div>
						<div class="form-group">
							<label for=officeCode>지점명</label> 
							<select class="form-control" id="officeCode">
  							<option class="officeOption" th:each="office : ${officeList}" th:value="${office.officeCode}" th:text="${office.officeName}">
  								
  							</option>
							</select>
						</div>
						<div class="form-group">
							<label for=roomCode>룸 코드</label> 
							<select class="form-control" id="roomCode" >
  							<option class="roomOption" th:each="room : ${roomList}" th:value="${room.roomCode}" th:text="${room.roomName}">
  								
  							</option>
							</select>
						</div>
						<div class="form-group">
							<label for=hintExplainText>힌트 설명 (텍스트)</label> 
							<input type="text" class="form-control" id="hintExplainText" placeholder="힌트 설명 (텍스트)">
						</div>
						<div class="form-group">
							<label for=hintExplainImg>힌트 설명 (이미지)</label> 
							<input type="file" class="form-control" id="hintExplainImg" placeholder="힌트 설명 (텍스트)">
							<p id="b64" style="display:none"></p>
							<img id="img"  width="250" height="250" style="display:none">
						</div>
						<button type="submit" id="submit" class="btn btn-primary">Submit</button>
					
					</form>
				</div> <!-- row 2 end-->
	            <div class="table-responsive-xl" style="margin-bottom: 20px; height: 409px; border: 1px solid #ddd;"><!-- row 3-->
					<table id="hintList" class="table table-bordered table-hover" style="margin-bottom: 0px;">
	    				<thead>
	      					<tr>
								<th>힌트코드</th>
								<th>지점</th>
								<th>룸</th>
								<th>생성일자</th>
	      					</tr>
	    				</thead>
	    				<tbody>
							
					    </tbody>
	  				</table>
				</div><!-- row 3  end-->
				
				<div class="row text-center">
					<nav aria-label="Page navigation example">
					  <ul class="pagination" style="margin: 10px 0;">
					    <li class="page-item">
					      <a class="page-link" href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					        <span class="sr-only">Previous</span>
					      </a>
					    </li>
					    <li class="page-item"><a class="page-link" href="#">1</a></li>
					    <li class="page-item"><a class="page-link" href="#">2</a></li>
					    <li class="page-item"><a class="page-link" href="#">3</a></li>
					    <li class="page-item">
					      <a class="page-link" href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					        <span class="sr-only">Next</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<button type="button" class="btn btn-default">생성</button>
					</div>
					<div class="col-md-4">
						<div class="form-group input-group">
							<span class="input-group-btn" style="width: 20%;">
								<select class="form-control">
                                	<option>힌트코드</option>
                                	<option>지점</option>
                                </select>
                            </span>
							<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
							<span class="input-group-btn">
                            	<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
						</div>
					</div>
					<div class="col-md-4">
					
					</div>
				</div>
				
	        </div>
	        <!-- /#page-wrapper -->
  		</div>
		<div lang="en" th:replace="admin/fragments/footer :: footer"> </div>
		<script type="text/javascript">
			$(function () {
				
				document.getElementById("hintExplainImg").addEventListener("change", readFile);
				getList({},function(){
					
				},gridTable);
				
				$("#officeCode").change(function(e){
					var officeCode=this.value;
					roomSelect(officeCode);
					
				});
				
				$('#submit').click(function(event) {
				
					hintPost();
					alert("수정 중... 저장되지 않았습니다.");
				});

			});
			function readFile() {
				  
				  if (this.files && this.files[0]) {
				    
				    var FR= new FileReader();
				    
				    FR.addEventListener("load", function(e) {
				      document.getElementById("img").src = e.target.result;
				      document.getElementById("b64").innerHTML = e.target.result;
				    }); 
				    $("img").css('display','block');
				    FR.readAsDataURL( this.files[0] );
				  }
				  
				}
			function hintPost() {
				var b64=$('#b64').text();
				var hintExplainImg =  b64.split(",");
				
				
				var data = {
						'hintCode': $('#hintCode').val(),
						'officeCode': $('#officeCode').val(),
						'roomCode' : $('#roomCode').val(),
						'hintExplainText': $('#hintExplainText').val(),
						'hintExplainImg': hintExplainImg[1]
						
					};
				console.log(data);
				$.ajax({
					type : "POST",
					contentType : "application/json; charset=utf-8",
					url : "/api/v1/hint/register",
					data : JSON.stringify(data),
					success : function(data) {
						console.log("success", data);

					},
					error : function(e) { 
						console.log("Error :", e);
					}
				});

			}
			
			function roomSelect(officeCode){
				$.ajax({
					type : "GET",
					url : "/api/v1/room/"+officeCode,
					success : function(datas) {
						console.log("success", datas);
					    $('#roomCode').empty();
						$.each(datas, function (i, data) {
						    $('#roomCode').append($('<option>', { 
						        value: data.roomCode,
						        text : data.roomName
						    }));
						});
					},
					error : function(e) {
						console.log("Error:", e);
					}
				});				
			}
			
			
			function getList(data, beforeCallback ,callback) {
				$.ajax({
					type : "GET",
					url : "/api/v1/hints",
					//data : JSON.stringify(data),
					beforeSend : function() {
						if(typeof beforeCallback !== 'undefined' && beforeCallback != null){
							beforeCallback();
						}
					},
					success : function(result) {
						callback(result);
					},
					error : function(e) {
						console.log("Error:", e);
					}
				});
			}
			function gridTable(data) {
				var source   = document.getElementById("entry-template").innerHTML;
				var template = Handlebars.compile(source);
				var target = "#hintList";
				$(target+' tbody').html(template(data));
				listener();
			}
			
			
			function listener() {
				
			}
		</script>
		<script id="entry-template" type="text/x-handlebars-template">
			{{#each this}}
  			<tr data-hintCode="{{hintCode}}" style="cursor: pointer;">
				<td>{{hintCode}}</td>
				<td>{{hintOfficeCode}}</td>
				<td>{{hintRoomCode}}</td>
				<td>{{hintCreateTimestamp}}</td>
			</tr>
  			
			{{/each}}
		</script>
	</body>
</html>