<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head lang="ko" th:replace="admin/fragments/head :: head">

</head>
<body>
	<div class="wrapper">
		<!-- Navigation -->
		<nav th:replace="admin/fragments/navigation :: navigation"></nav>

		<div id="page-wrapper">
			<div class="row"> <!-- row 1-->			
				<div class="col-lg-12">
					<h1 class="page-header">룸 관리</h1>
				</div>
			</div> <!-- row 1 end-->
			<div class="row"> <!-- row 2-->
				<form>
					<div class="form-group">
						<label for=officeCode>지점명</label> 
						<select class="form-control" id="officeCode">
  							<option th:each="office : ${officeList}" th:value="${office.officeCode}" th:text="${office.officeName}">
  								
  							</option>
						</select>
					</div>
					<div class="form-group">
						<label for=roomCode>룸 코드</label> 
						<input type="text" class="form-control" id="roomCode" placeholder="룸 코드">
							
					</div>
					<div class="form-group">
						<label for=roomName>룸명</label> 
						<input type="text" class="form-control" id="roomName" placeholder="룸명">
							
					</div>

					<button type="submit" id="submit" class="btn btn-primary">Submit</button>
					
				</form>
			</div> <!-- row 2 end-->

			<div class="row"><!-- row 3-->
				<table class="table table-bordered">
    				<thead>
      					<tr>
							<td>룸 코드</td>
							<td>룸 이름</td>
      					</tr>
    				</thead>
    				<tbody>
      					<tr th:each="room : ${roomList}">
							<td th:text="${room.roomCode}"></td>
							<td th:text="${room.roomName}"></td>
      					</tr>

				    </tbody>
  				</table>
			</div><!-- row 3  end-->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<div lang="ko" th:replace="admin/fragments/footer :: footer"></div>
</body>

</body>
<script>
	$(document).ready(function() {

		$('#submit').click(function(event) {
			
			roomPost();
		
			alert("저장되었습니다.");
		});
		
		function roomPost() {

			var data = {
					'officeCode': $('#officeCode').val(),
					'roomCode' : $('#roomCode').val(),
					'roomName' : $('#roomName').val()
				};
			console.log(data);
			$.ajax({
				type : "POST",
				contentType : "application/json; charset=utf-8",
				url : "/api/v1/room/register",
				data : JSON.stringify(data),
				success : function(data) {
					console.log("success", data);

				},
				error : function(e) { 
					console.log("Error :", e);
				}
			});

		}
		
		function officeSelect() {
			$.ajax({
				type : "GET",
				url : "/api/v1/office/select",
				success : function(data) {
					console.log("success", data);

				},
				error : function(e) {
					console.log("Error:", e);
				}
			});
			
		}

	});
</script>
</body>
</html>